body {
    background-color: #f2f2f2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divider {
    border-bottom: 1px solid #e5e5e5;
    margin: 20px 0;
}